]{% extends 'base.html' %}

{% block content %} 
    <section class="text-light text-center shadow mb-20" style="background-color: rgb(201, 169, 166);">
        <div class="container p-5" style="background-color: rgb(201, 169, 166);">
            <div class="row">
                <div class="d-md-flex align-items-center justify-content-evenly" style="background-color: rgb(201, 169, 166);">
                    <h1 class="col text-center">{{ current_user.email}}'s user profile</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="text-center">
    <div class="container p-10">
        <div class="row"><br>
            <h3>Here are your profile details:</h3>
            <ul class="list-group">
                <li class="list-group-item">Email: {{ current_user.email }}</li>
                <li class="list-group-item">Token: {{ current_user.token }} </li> 
            </ul>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-4"></div>
            <div class="col-3 p-10">
                <img src="../../static/images/5648671.jpg" class="d-flex align-items-center justify-content-center p-50 img-fluid" alt="">
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    </section>
{% endblock %}